{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Guidance AI
</h1>
<h2 class="subtitle">
  Easy advice from the worlds smartest AI
</h2>
<div class="is-centered columns">



  <div class="is-flex is-justify-content-center">
    <div class="field is-grouped">
      <div class="control">
        <a href={{url_for('about_me')}}> <button class="button is-link is-light">About Me</button></a>
      </div>
      <div class="control">
        <a href={{url_for('get_guidance')}}> <button class="button is-link is-danger">Try it! </button></a>
      </div>
    </div>

  </div>
</div>


{% endblock %}